@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');


/* #cookie{
    opacity: 0.7; */
    /* background-size: 1000px; */
    /* background-repeat: repeat; */
    /* position: absolute; */
    /* z-index: 0; */
/* } */

body{
    background-image: url("02-cookie.png"), repeating-linear-gradient();
    background-repeat: repeat;
}

body #titleSeattle{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 100px;
    z-index: 1;
    position: absolute;
    top: 50px;
}
body #seattle{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 100px;
    z-index: 1;
    position: absolute;
    top: 90px;
}

body #titleTokyo{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 350px;
    z-index: 1;
    position: absolute;
    top: 50px;
}
body #tokyo{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 350px;
    z-index: 1;
    position: absolute;
    top: 90px;
}

body #titleDubai{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 600px;
    z-index: 1;
    position: absolute;
    top: 50px;
}
body #dubai{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 600px;
    z-index: 1;
    position: absolute;
    top: 90px;
}
body #titleParis{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 850px;
    z-index: 1;
    position: absolute;
    top: 50px;
}
body #paris{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 850px;
    z-index: 1;
    position: absolute;
    top: 90px;
}
body #titleLima{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 1100px;
    z-index: 1;
    position: absolute;
    top: 50px;
}
body #lima{
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 1100px;
    z-index: 1;
    position: absolute;
    top: 90px;
}

